
html, body {
    
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0b1520;
}

.heart {
    height: 170px;
    width: 170px;
    background: #f2044f;
    position: relative;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 90px #f2044f;
    animation: heart 0.6s linear infinite;
}

@keyframes heart {
    0%{
        transform: rotate(-45deg) scale(1.07);
    }
    80%{
        transform: rotate(-45deg) scale(1.0);
    }
    100%{
        transform: rotate(-45deg) scale(0.9);
    }
}

.heart::before {
    content: '';
    position: absolute;
    height: 170px;
    width: 170px;
    background: #f2044f;
    right: -50%;
    border-radius: 95px;
    box-shadow: -10px -10px 90px #f2044f;

}

.heart::after {
    content: '';
    position: absolute;
    height: 170px;
    width: 170px;
    background: #f2044f;
    top: -50%;
    border-radius: 95px;
    box-shadow: 10px 10px 90px #f2044f;

}


